<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>FilmDev</title>
  </head>
  <body>
    <div class="main-container">
      <h1>
        <a href="/">FilmDev</a>
      </h1>
      <div class="movie-details-container">
        <div class="top-panel">
          <span class="color"><%=movie.title %> (<%=movie.year %>)</span>
        </div>
        <div class="left-panel">
          <img
            src="<%=movie.poster %>"
            class="poster-detail"
            alt="<%=movie.title %>"
            onerror="this.onerror=null;this.src='/images/film-poster-placeholder.png';"
          />
        </div>
        <div class="right-panel">
          <p class="plot"><%=movie.fullplot %></p>
          <p class="directors">
            <span class="color">Directors: </span><%=movie.directors.join(", ")
            %>
          </p>
          <p class="writers">
            <span class="color">Writers: </span> <%=movie.writers.join(", ") %>
          </p>
          <p class="cast">
            <span class="color">Cast: </span> <%=movie.cast.join(", ") %>
          </p>
          <p class="imdb">
            IMDb rating: <span class="color"><%=movie.imdb.rating %>/10</span>
            <br />(<%=movie.imdb.votes %> votes)
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
