<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>FilmDev</title>
  </head>
  <body>
    <button title="Go to the top" class="go-top" onclick="goTop()">
      <img src="/images/up.png" alt="go-up-arrow" />
    </button>

    <div class="main-container">
      <h1>
        <a href="/">FilmDev</a>
      </h1>
      <div class="movies-container">
        <% for(movie of movies) {%>

        <div class="movie">
          <img
            src="<%= movie.poster %>"
            alt="<%= movie.title %>"
            class="poster"
            onerror="this.onerror=null;this.src='/images/film-poster-placeholder.png';"
          />
          <p class="title">
            <a href="<%= movie.url %>"
              ><%= movie.title %> (<%= movie.year %>)</a
            >
          </p>
        </div>

        <% } %>
      </div>
      <form action="" method="post" onsubmit="return true">
        <button name="more" type="submit" class="more">
          Display more movies
        </button>
      </form>
    </div>
    <script>
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href)
      }
      window.addEventListener(
        "scroll",
        function () {
          //When scroll change, you save it on localStorage.
          localStorage.setItem("scrollPosition", window.scrollY)
        },
        false
      )
      window.addEventListener(
        "load",
        function () {
          if (localStorage.getItem("scrollPosition") !== null)
            window.scrollTo(0, localStorage.getItem("scrollPosition"))
        },
        false
      )
      const upBtn = document.querySelector(".go-top")

      window.onscroll = function () {
        scrollFunction()
      }

      function scrollFunction() {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          upBtn.style.display = "block"
        } else {
          upBtn.style.display = "none"
        }
      }

      function goTop() {
        document.body.scrollTop = 0 // For Safari
        window.scrollTo({ top: 0, behavior: "smooth" })
      }
    </script>
  </body>
</html>
